<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel-heading bg-red">
            <h3 class="panel-title"><strong>User </strong> management</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 m-b-20">
                    <div class="btn-group">
                        <button id="table-edit_new" class="btn btn-danger">
                            Add New <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#">Print</a>
                            </li>
                            <li><a href="#">Save as PDF</a>
                            </li>
                            <li><a href="#">Export to Excel</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive table-red">
                    <table class="table table-striped table-hover dataTable" id="table-editable">
                        <thead>
                            <tr role="row">
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Points</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Smith</td>
                                <td>John</td>
                                <td>435</td>
                                <td>super Admin</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Johnson</td>
                                <td>Alexa</td>
                                <td>220</td>
                                <td>super Admin</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Brown</td>
                                <td>Bobby</td>
                                <td>545</td>
                                <td>super Admin</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Miller</td>
                                <td>James</td>
                                <td>525</td>
                                <td>ipsume dolor</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Harris</td>
                                <td>Samantha</td>
                                <td>567</td>
                                <td class="center">nothing</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Thomson</td>
                                <td>Scott</td>
                                <td>435</td>
                                <td>super Admin</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Aishmen</td>
                                <td>Samuel</td>
                                <td>435</td>
                                <td>super Admin</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Addams</td>
                                <td>Kim</td>
                                <td>435</td>
                                <td>super Admin</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Morris</td>
                                <td>Heather</td>
                                <td>987</td>
                                <td>ipsume dolor</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Aster</td>
                                <td>Fred</td>
                                <td>567</td>
                                <td class="center">nothing</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Carry</td>
                                <td>John</td>
                                <td>987</td>
                                <td>ipsume dolor</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Paul</td>
                                <td>Billy</td>
                                <td>567</td>
                                <td class="center">nothing</td>
                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a>  <a class="delete btn btn-danger" href="javascript:;"><i class="fa fa-times-circle"></i> Remove</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>