<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red">
                <h3 class="panel-title"><strong>Tools </strong> options <small class="c-white">export to Excel, CSV, PDF or Print.</small></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive table-red">
                        <?php
                            echo $datatable;
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>